<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>
<body>
<div th:switch="${users}">
    <h2 th:case="null">Нет пользователей</h2>
    <div th:case="*">
        <h2>Список пользователей</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Фамилия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td><a th:href="@{user-update/{id}(id=${user.id})}">Редактировать</a></td>
                <td><a th:href="@{user-delete/{id}(id=${user.id})}">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/user-create">Создать нового</a></p>
</div>
</body>
</html>